body {
  /* user agent style sheetを打ち消す */
  margin: 0;

  font-family: sans-serif;
}

body:has(canvas) {
  overflow: hidden;
  overscroll-behavior: none;
}

p {
  line-height: 150%;
  letter-spacing: 0.02rem;
}
